In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

print("Path to dataset files:", path)

c:\Users\HarithaNagamalla\Documents\Python and ML\python_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\HarithaNagamalla\.cache\kagglehub\datasets\camnugent\california-housing-prices\versions\1

In [3]:
import os
import pandas as pd

# List files in the dataset directory
files = os.listdir(path)
print("Files in dataset:", files)

Files in dataset: ['housing.csv']

In [4]:
df = pd.read_csv(os.path.join(path, 'housing.csv'))
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Handling missing values

Techniques:

Drop rows/columns

Fill numeric values with mean/median

Fill categorical values with mode

Use advanced imputers (KNN, IterativeImputer)

In [5]:
null_counts = df.isnull().sum()
null_counts

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [8]:
## Drop rows or columns with missing values
# df = df.dropna()
# df.isnull().sum()

In [9]:
#Fill numeric values with mean/median
#Fill categorical values with mode
#df.fillna(df.mean(), inplace=True)

df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].median())

In [10]:
df['total_bedrooms'].value_counts()

total_bedrooms
435.0     244
280.0      55
331.0      51
345.0      50
393.0      49
         ...
2009.0      1
2249.0      1
3114.0      1
1625.0      1
1742.0      1
Name: count, Length: 1923, dtype: int64

In [11]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [12]:
## simple imputer
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")
imputer.fit(df[["total_bedrooms"]])
df[["total_bedrooms"]] = imputer.transform(df[["total_bedrooms"]])

In [13]:
cat_imputer = SimpleImputer(strategy="most_frequent")
cat_imputer.fit(df[["ocean_proximity"]])
df[["ocean_proximity"]] = cat_imputer.transform(df[["ocean_proximity"]])

Encoding Techniques - Encoding techniques are essential in machine learning to convert categorical variables into numerical formats that algorithms can process. These techniques vary based on the type of categorical data (nominal or ordinal) and the specific requirements of the model.

1. One Hot Encoding
2. Label Encoding
3. Target Encoding

In [21]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [15]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [16]:
x = df.drop("total_rooms", axis=1)
y = df["total_rooms"]

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [20]:
##Label encoding, OneHot Encoding, Target Encpding

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, TargetEncoder
le = LabelEncoder()

x_train['ocean_proximity'] = le.fit_transform(x_train['ocean_proximity'])
x_test['ocean_proximity'] = le.transform(x_test['ocean_proximity'])
# df['encoded_column'] = le.fit_transform(df['ocean_proximity'])

# encoder = OneHotEncoder()
# encoded_array = encoder.fit_transform(df[['ocean_proximity']]).toarray()

# target_encoder = TargetEncoder()
# df['target_encoded'] = target_encoder.fit_transform(df['ocean_proximity'], df['total_rooms'])

Feature Scaling
1. Standard Scaler
2. MinMax Scaler

When required?

Yes → Linear Regression, Ridge, Lasso, SVM, KNN

No → Trees, Random Forest, XGBoost

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)

# Transform test data
x_test_scaled = scaler.transform(x_test)

Regularization


Prevents overfitting
Works well with many features
Types:

Ridge = L2 (shrinks coefficients)

Lasso = L1 (forces zero → feature selection)

ElasticNet = L1 + L2

In [22]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

ridge = Ridge(alpha=1.0)
lasso = Lasso(alpha=0.01)
elastic = ElasticNet(alpha=0.1, l1_ratio=0.5)

Cross Validation

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

model = LinearRegression()
scores = cross_val_score(model, x_train_scaled, y_train, cv=5, scoring="r2")
print(scores.mean())

0.9221073360379588

Feature Selection

Methods:

Filter methods: correlation, variance threshold

Wrapper methods: RFE

Model-based: Lasso, RandomForest importance

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

model = LinearRegression()
selector = RFE(model, n_features_to_select=5)
selector.fit(X, y)

selected_features = X.columns[selector.support_]
print(selected_features)

Feature Importance

Works with tree models (RandomForest, XGBoost)

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X, y)

importances = rf.feature_importances_
for name, score in zip(X.columns, importances):
    print(name, score)

Hyperparameter Tuning

Methods:

GridSearchCV

RandomizedSearchCV

Optuna / Bayesian Tuning (advanced)

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

params = {
    "n_estimators": [100, 200],
    "max_depth": [5, 10, None],
    "min_samples_split": [2, 5]
}

model = RandomForestRegressor()
grid = GridSearchCV(model, params, cv=3, scoring="r2")
grid.fit(X, y)

print(grid.best_params_)
print(grid.best_score_)